.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log
tmp/
tmp-tailwindcss.com/
skills/tailwind-4-docs/references/docs/
skills/tailwind-4-docs/references/docs-index.tsx

# Mac
.DS_Store

